.git
mini-swe-agent-for-nullaway-codefix/.git

# Don't include API key
.env

.venv
.idea
.gradle
__pycache__
**/__pycache__
.pytest_cache
.mypy_cache
.DS_Store
.github
.vscode

annotator-core/build
annotator-core/bin
annotator-util/build
annotator-util/bin
annotator-scanner/build
annotator-scanner/bin
annotation-util/build
annotation-util/bin
injector/build
injector/bin
library-model-loader/build
library-model-loader/bin


# Ignore files related to building the artifact image
artifact/
.dockerignore
Dockerfile.artifact
checkout_benchmarks.sh
create_artifact_image.sh

# Ignore README for creating artifact image
README_LOCAL_DEPLOYMENT.md